/*
  #66FFE0
  #1CA8E8
  #6682FF
  #8D60E8
  #F19EFF
*/

$primary: #d5dcfc;
$secondary: #98ffea;
$thrid: #7dc1e0;
$forth: #8d60e8;
$fifth: #f19eff;

.btn {
  font-size: 2rem;
}

p {
  font-size: 2rem;
}
